*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* SECTION-1 */
.section-1{
    width: 1170px;
    height: 60px;
    margin: 0 auto;
    background-color: rgb(255, 105, 5);
}

.container-1{
    width: 100%;
}

.row-1{
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.col-33-header{
    width: 70%;
}

h2{
    font-size: 12px;
    margin-left: 10px;
}

.center{
    color: white;
    margin-top: 20px;
}

.logo{
    height: 20px;
    margin-left: 120px;
    margin-top: 20px;
}

.fa-regular{
    height: 50px;
}

.fa-user{
    margin-left: 210px;
}

/* END SECTION-1 */
/* SECTION-2 */
.section-2{
    width: 1170px;
    height: 800px;
    margin: 0 auto;
}

.container-2{
    width: 100%;
    height: 800px;
    background-color: green;
}

.row-2{
    width: 70%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap ;
}

.col-33{
    width: calc(100% / 3 - 20px);
    height: 350px;
    margin: 10px;
    background-color: yellow;
}
/* END SECTION-2 */
/* SECTION-3 */
.section-3{
    width: 1170px;
    height: 100px;
    margin: 0 auto;
}

.container-3{
    width: 100%;
    height: 100px;
    background-color: orange;
}

.row-3{
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.col-50{
    width: 70%;
    height: 100px;
    align-content: space-between;
    border: 1px dashed black;
    background-color: brown;
}
/* END SECTION-3 */